.breadcrumb {
  ul {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  li {
    position: relative;

    &:not(:last-child) {
      &::after {
        position: absolute;
        content: "/";
        top: 0;
        right: -1.5rem;
        font-size: 1.6rem;
        font-weight: $font-bold;
        color: $gray;
      }
    }
  }

  a {
    text-decoration: none;
    color: $gray;
    @include upper;
    font-size: 1.6rem;
    font-weight: $font-bold;
  }
}

// MEDIA
@media screen and (max-width: 1010px) {
  .breadcrumb a {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 340px) {
  .breadcrumb a {
    font-size: 1.6rem;
  }
}
