.bg {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  height: 100%;
  min-height: 66.1rem;
  background: linear-gradient(
      360deg,
      #151515 3.11%,
      rgba(21, 21, 21, 0.33) 100%
    ),
    url("../images/game-bg.jpg");
  background-clip: border-box;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.game-info {
  display: grid;
  grid-template-columns: 1fr 44.5rem;
  gap: 12.5rem;
}

.game-info__left {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.game-info__left-meta {
  padding-top: 3rem;
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.game-name {
  font-size: 4.8rem;
  @include upper;
  color: #fff;
}

.game-info__left__top {
  padding-bottom: 1.6rem;
}

.release {
  @include release;
}

.score {
  @include score-high;
  font-size: 1.6rem;
}

.game-info__left__middle {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding-bottom: 4.5rem;

  h3 {
    color: #fff;
    font-size: 3.1rem;
    font-weight: $font-bold;
  }
}

.game-about {
  color: #fff;
  font-size: 1.6rem;
  font-weight: $font-regular;
  text-align: left;
}

.game-info__left__bottom {
  display: flex;
  flex-wrap: wrap;
  column-gap: 6.3rem;
  row-gap: 2.4rem;
  flex: 0 0;
}

.game-char-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.8rem;

  ul {
    display: flex;
    align-items: flex-start;
    gap: 1.8rem;
  }

  h6 {
    font-size: 1.6rem;
    color: $gray;
    font-weight: $font-medium;
  }

  h3 {
    font-size: 1.8rem;
    color: #fff;
    font-weight: $font-regular;
  }
}

.release-block {
  h3 {
    @include upper;
    transition: 0.3s all ease;
  }
}

.genre-block {
  h3 {
    border-bottom: 0.1rem solid;
    border-color: #fff;
    transition: 0.3s all ease;
    cursor: pointer;
    &:hover {
      color: $gray;
      border-bottom: 0.1rem solid;
      border-color: $gray;
      transition: 0.3s all ease;
    }
  }
}

.game-info__right {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.game-video {
  max-width: 44.5rem;
  width: 100%;
  max-height: 21.6rem;
  height: 100%;
  border-radius: 0.8rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 0.8rem;
  }
}

.game-img-block {
  display: grid;
  grid-template-columns: minmax(15rem, 21.5rem) minmax(15rem, 21.5rem);
  gap: 1.5rem;
}

.game-img {
  max-width: 21.5rem;
  width: 100%;
  max-height: 12.3rem;
  height: 100%;
  border-radius: 0.8rem;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 0.8rem;
    transform: scale(1);
    transition: 0.3s all ease;
    cursor: pointer;
  }

  &:hover {
    img {
      transform: scale(1.1);
      transition: 0.3s all ease;
    }
  }
}
