.bg {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100vh;
  min-height: 66.1rem;

  background-clip: border-box;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.game-info {
  display: grid;
  grid-template-areas:
    "ltop img"
    "lmid img"
    "lbot img";
  column-gap: 12.5rem;
  row-gap: 1.6rem;
}

.game-info__left-meta {
  padding-top: 3rem;
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.game-name {
  font-size: 4.8rem;
  @include upper;
  color: #fff;
}

.game-info__left__top {
  padding-bottom: 1.6rem;
  grid-area: ltop;
}

.release {
  @include release;
}

.score {
  @include score-high;
  font-size: 1.6rem;
}

.game-info__left__middle {
  grid-area: lmid;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding-bottom: 4.5rem;

  h3 {
    color: #fff;
    font-size: 3.1rem;
    font-weight: $font-bold;
  }
}

.game-about {
  color: #fff;
  font-size: 1.6rem;
  font-weight: $font-regular;
  text-align: left;
}

.game-info__left__bottom {
  grid-area: lbot;
  display: flex;
  flex-wrap: wrap;
  column-gap: 5rem;
  row-gap: 2.4rem;
  flex: 0 0;
}

.game-char-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.8rem;

  ul {
    display: flex;
    align-items: flex-start;
    gap: 1.8rem;
  }

  h6 {
    font-size: 1.6rem;
    color: $gray;
    font-weight: $font-medium;
  }

  h3 {
    font-size: 1.8rem;
    color: #fff;
    font-weight: $font-regular;
  }
}

.release-block {
  h3 {
    @include upper;
    transition: 0.3s all ease;
  }
}

.genre-block {
  h3 {
    border-bottom: 0.1rem solid;
    border-color: #fff;
    transition: 0.3s all ease;
    cursor: pointer;
    &:hover {
      color: $gray;
      border-bottom: 0.1rem solid;
      border-color: $gray;
      transition: 0.3s all ease;
    }
  }
}

.game-video {
  max-width: 44.5rem;
  width: 100%;
  max-height: 21.6rem;
  height: 100%;
  border-radius: 0.8rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 0.8rem;
  }
}

.game-img-block {
  display: grid;
  grid-template-columns: minmax(15rem, 21.5rem) minmax(15rem, 21.5rem);
  gap: 1.5rem;
}

.game-img {
  max-width: 21.5rem;
  width: 100%;
  max-height: 12.3rem;
  height: 100%;
  border-radius: 0.8rem;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 0.8rem;
    transform: scale(1);
    transition: 0.3s all ease;
    cursor: pointer;
  }

  &:hover {
    img {
      transform: scale(1.1);
      transition: 0.3s all ease;
    }
  }
}

.game-desc-title {
  font-size: 3.9rem;
  text-align: center;
  font-weight: $font-medium;
  padding: 6.4rem 0;
}

.game-images {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  grid-area: img;
}

// MEDIA
@media screen and (max-width: 1010px) {
  .game-info {
    grid-template-areas:
      "ltop"
      "img"
      "lmid"
      "lbot";
  }

  .game-info__left__middle h3 {
    font-size: 3.5rem;
  }
  .game-about,
  .game-char-block h6,
  .score,
  .release {
    font-size: 1.8rem;
  }

  .release-block h3,
  .genre-block h3 {
    font-size: 2rem;
  }

  .game-video {
    max-height: unset;
    max-width: unset;
  }
  .game-img-block {
    grid-template-columns: 1fr 1fr;
  }
  .game-img {
    max-height: unset;
    max-width: unset;
  }
}

@media screen and (max-width: 700px) {
  .bg {
    height: 50vh;
  }
  .game-desc-title {
    font-size: 3rem;
  }
  .game-info__left-meta {
    padding-bottom: 3rem;
  }
  .game-images,
  .game-info {
    gap: 3rem;
  }
  .game-name {
    font-size: 4rem;
  }
}

@media screen and (max-width: 520px) {
  .game-images,
  .game-info {
    gap: 2rem;
  }
  .game-name {
    font-size: 3rem;
  }
  .release,
  .score,
  .game-about,
  .game-char-block h6,
  .game-char-block h3,
  .genre-block h3 {
    font-size: 1.6rem;
  }
  .game-desc-title,
  .game-info__left__middle h3 {
    font-size: 2.5rem;
  }
}
