*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
}

html {
  font-size: 62.5%;
}

body {
  background: $dark-black;
  color: $white;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span {
  font-family: $font-family;
}

ul,
ol {
  list-style-type: none;
}

.container {
  max-width: 116rem;
  width: 100%;
  padding: 0 2.5rem;
  margin: 0 auto;
}

.App {
  position: relative;
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  background: $dark-black;
}
::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: $base-black;
  cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
  background: $gray;
}

// git add --all
// git add commit
// git push
