.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  justify-content: center;
  margin-bottom: 6.4rem;

  .column {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;

    a {
      text-decoration: none;
    }
  }
}

.vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  a {
    text-decoration: none;
  }

  .grid-item {
    border-radius: 1.6rem;
    cursor: pointer;
    max-width: 50rem;
    width: 100%;
    overflow: hidden;
    height: fit-content;
    text-decoration: none;
    margin-bottom: 6rem;
  }

  .grid-item-img {
    max-height: 28.4rem;
    max-width: 71.4rem;
    width: 100%;
    height: 100%;

    img {
      display: block;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .grid-item-desc {
    padding: 2.4rem;
  }

  .grid-item-title {
    max-width: 57.4rem;
    font-size: 3.9rem;
    margin-right: 2.4rem;
  }

  .grid-item-score {
    width: 5rem;
    height: 5rem;
    font-size: 2rem;
  }
}

@media screen and (max-width: 1250px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 660px) {
  .grid {
    grid-template-columns: 1fr;
  }
}