.navbar {
  padding: 4.8rem 0 5.6rem;

  .container {
    display: grid;
    grid-template-columns: 1fr 3fr 0.2fr;
  }
}

.logo {
  font-size: 2.7rem;
  font-weight: $font-bold;
  letter-spacing: 1rem;
  text-decoration: none;
  color: $white;
  align-self: center;
  padding-right: 2rem;
}

.search {
  align-self: center;
  position: relative;
  cursor: pointer;
  max-width: 73rem;
  width: 100%;
  justify-self: right;


  input {
    max-width: 73rem;
    width: 100%;
    border-radius: 1.8rem;
    background: $light-black;
    color: $gray;
    border: none;
    outline: none;
    padding: 0.8rem 4.6rem;
    font-size: 1.6rem;
    transition: all 0.3s linear;
    cursor: pointer;

    &:hover,
    &:focus {
      background: $white;
      color: $dark-black;
    }
  }

  img {
    position: absolute;
    top: 50%;
    left: 1.6rem;
    transform: translateY(-50%);
    pointer-events: none;
  }
}

.nav-menu {
  display: flex;
  align-items: center;
}

.nav-link {
  color: $white;
  text-decoration: none;
  font-weight: $font-bold;
  font-size: 1.8rem;
  transition: all 0.3s linear;
  margin-left: 3rem;
  outline: none;
  align-self: center;
  justify-self: right;

  &:hover,
  &:focus {
    color: $gray;
  }
}

@media screen and (max-width: 660px) {
  .navbar {
    padding: 3.2rem 0 4rem;

    .container {
      grid-template-columns: initial;
      grid-template-areas:
        "logo link"
        "search search"
      ;
      gap: 2rem;
    }

  }

  .nav-link {
    margin-left: 0;
    grid-area: link;
  }

  .logo {
    grid-area: logo;
    padding: 0;
  }

  .search {
    grid-area: search;
  }
}

@media screen and (max-width: 360px) {
  .logo {
    font-size: 2.4rem;
  }

  .nav-link {
    font-size: 1.6rem;
  }
}