// Colors
$dark-black: #151515;
$base-black: #202020;
$light-black: #303030;
$gray: #797979;
$green: #6DC849;
$white: #FFFFFF;
$orange: #E8A627;
$red: #C02C2C;
// =========================

// Fonts
$font-family: 'Poppins', sans-serif;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;
// ========================